img[alt$="emoji"] {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  vertical-align: -.1em;
}

.emoji {
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  vertical-align: -.3em;
}
