/* @charset "utf-8";  */
body {
  position: relative;
  width: 1700px;
}

/* ----------------------------------------COMMON---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #151515;
  color: #000;
}
button {
  all: unset;
  cursor: pointer;
}
h1,
h2,
h4,
span {
  filter: var(--text-filter);
  text-shadow: var(--text-shadow);
}

.fixed_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
  height: 10px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #443b27;
  border-radius: 8px;
  background-clip: padding-box;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
::-webkit-scrollbar-track {
  background-color: #000;
}

:root {
  /* brown COLOR */
  --gra-brown-bg: linear-gradient(
    90deg,
    #262218 8%,
    #4a3c2b 34%,
    #594c31 55%,
    #312a1b 90%
  );
  --gra-brown-border: linear-gradient(
    90deg,
    #886d35 0%,
    #423625 10%,
    #f3dba8 26%,
    #0e0b06 85%,
    #574b30 100%
  );
  --gra-brown-highlight: #a48f6200 0%, #a48f62 40%, #a48f6200 100%;
  --text-brown200: #d4cbbd;

  /* green COLOR */

  --gra-green-bg: linear-gradient(
    180deg,
    #0f3227 5%,
    #2a6c56 30%,
    #173e31 60%,
    #071e18 80%,
    #09211b 90%,
    #0e2c25 100%
  );
  --gra-green-border: linear-gradient(
    180deg,
    #135643 0%,
    #0b2d23 10%,
    #34d9a9 50%,
    #061712 85%,
    #194436 100%
  );
  --gra-green-dark-bg: linear-gradient(
    180deg,
    #0f3025 0%,
    #194335 40%,
    #0c271f 70%,
    #0b221b 80%,
    #0d231c 100%
  );
  --gra-green-dark-border: linear-gradient(
    180deg,
    #08251c 0%,
    #208669 40%,
    #104032 70%,
    #051612 100%
  );
  --text-green200: #b6d0c9;

  /* accent COLOR */
  --accent-red: #e60403;
  --accent-red200: #ff100f;
  --accent-orange: #ff5c00;
  --accent-yellow: #ffc600;
  --gra-yellow-border: linear-gradient(
    180deg,
    #a67d03 0%,
    #f2cc0f 16%,
    #fadd4f 37%,
    #f2cc0f 62%,
    #926e03 88%
  );
  --gra-orange-border: linear-gradient(
    180deg,
    #da6813 10%,
    #ffbb89 38%,
    #e5690d 72%,
    #ae3607 93%
  );

  /* BUTTON */
  --btn-brown400-bg: linear-gradient(
    90deg,
    #423320 0%,
    #685237 48%,
    #453521 85%,
    #362a1a 100%
  );
  --btn-brown400-border: linear-gradient(
    90deg,
    #4a3b28 0%,
    #9f8363 28%,
    #c6a47a 50%,
    #7f694c 68%,
    #524530 100%
  );
  --btn-brown500-bg: linear-gradient(
    90deg,
    #322b1c 0%,
    #594d32 48%,
    #3b3123 85%,
    #272319 100%
  );
  --btn-brown500-border: linear-gradient(
    90deg,
    #3c3021 0%,
    #7f6545 28%,
    #a28662 50%,
    #766042 68%,
    #352914 100%
  );

  --btn-green400-bg: linear-gradient(
    90deg,
    #124234 0%,
    #296b55 48%,
    #0f392d 85%,
    #0c2a21 100%
  );
  --btn-green400-border: linear-gradient(
    90deg,
    #124637 0%,
    #249978 28%,
    #34d9aa 50%,
    #238c6d 68%,
    #0f3328 100%
  );
  --btn-green500-bg: linear-gradient(
    90deg,
    #0f372b 0%,
    #205643 48%,
    #0f2c23 85%,
    #0a1b15 100%
  );
  --btn-green500-border: linear-gradient(
    90deg,
    #154435 0%,
    #196750 28%,
    #1f8265 50%,
    #185a46 68%,
    #153b2f 100%
  );

  --btn-red-bg: linear-gradient(
    180deg,
    #700000 0%,
    #be0000 47%,
    #620808 84%,
    #590000 100%
  );
  --btn-red-border: linear-gradient(
    180deg,
    #870e0e 0%,
    #ba3c3c 27%,
    #f07272 50%,
    #a63f3f 67%,
    #630e0e 100%
  );

  /* SHADOW */
  --text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  --text-filter: drop-shadow(0 0 0.5px #000);
}

/* 그라디언트 보더 적용시 gra 클래스 추가 */
.gra {
  position: relative;
}
.gra::after {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
/* .클래스이름::after { padding: 0px; background: #000; border-radius: 0px; } 패딩=보더두께 | 백그라운드=보더컬러 | 래디우스=보더커브 */

/* content */
.wrap {
  width: 100%;
  height: 100vh;
  background-color: #eee8e2;
  display: flex;
  overflow: hidden;
}
.lnb {
  position: relative;
}
.contents {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 10px 60px;
  overflow: auto;
}

.group_list_wrap {
  background: var(--btn-brown500-bg);
  width: 250px;
  height: 100vh;
}
.group_list_wrap::after {
  padding: 2px;
  background: linear-gradient(
    110deg,
    #bfa876 0%,
    #6e603f 40%,
    #5c5139 50%,
    #6e603f 80%,
    #5e4f35 100%
  );
  padding-top: 0;
  padding-right: 0;
}
.menu_list_wrap {
  padding-top: 50px;
  background: #112d29;
  height: 100vh;
}

/* 탭메뉴(이용가이드/EG-TIP) */
.tab {
  width: 250px;
  z-index: 10;
  background-color: #000;
}
.tab span {
  font-weight: 600;
}
.tab::after {
  padding-bottom: 2px;
  background: linear-gradient(
    90deg,
    #4a3b28 0%,
    #c1ab77 40%,
    #d6bd84 50%,
    #938052 80%,
    #524530 100%
  );
}
.tab .tip {
  position: relative;
}
.tab .tip .tip-after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 62px;
  width: 50px;
  height: 50px;
  background: url(../images/ico_radius.svg) center no-repeat;
  background-size: 50px auto;
}
.tab ul {
  display: flex;
}
.tab ul::after {
  content: "";
  display: block;
  clear: both;
}
.tab ul li {
  position: relative;
  float: left;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  z-index: 99;
}
.tab ul li.guide {
  width: 75%;
  padding-right: 30px;
}
.tab ul li.tip {
  width: 25%;
  padding-right: 12px;
}
.tab ul li a {
  width: 100%;
  display: block;
  height: 50px;
  line-height: 50px;
  color: gray;
  z-index: 1;
  position: relative;
}
.tab ul li.on::before {
  position: absolute;
  content: "";
  top: 0;
  left: -0.8px;
  width: 100%;
  height: 100%;
  background-image: url(../images/btn_guide4.svg);
  background-repeat: no-repeat;
}
.tab ul li.on a span {
  color: #d7d2b0;
}
.d-none {
  display: none !important;
}

/*  플러스 마이너스 */
.plusminus {
  position: relative;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #fff5e2 5%, #6e6656 100%);
  border: 1px solid #000;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  margin: 0 4px 2px 6px;
}
.plusminus.active {
  background: linear-gradient(to bottom, var(--accent-yellow) 5%, #6e5d08 100%);
  border: 1px solid #f6e378;
  box-shadow: inset 0px 1px 0px 0px #424242;
}
.plusminus.active::before {
  transform: translateY(-50%) rotate(-90deg);
  opacity: 0;
}
.plusminus.active::after {
  transform: translateY(-50%) rotate(0);
}
.plusminus::before,
.plusminus::after {
  content: "";
  display: block;
  background-color: #112d29;
  position: absolute;
  top: 50%;
  left: 20%;
  transition: 0.35s;
  width: 60%;
  height: 2px;
  border-radius: 10px;
}
.plusminus::before {
  transform: translateY(-50%);
}
.plusminus::after {
  transform: translateY(-50%) rotate(90deg);
}

/* 그룹리스트 */
.group_list {
  position: absolute;
  overflow-x: hidden;
  overflow-y: overlay;
  height: 100%;
}
.groupListTitle::after {
  width: 65%;
  padding-bottom: 1px;
  background: linear-gradient(
    270deg,
    #4d4327 0%,
    #261f10 30%,
    #181308 80%,
    #3c3021 100%
  );
}
.group_list_depth01 {
  width: 250px;
  font-weight: 500;
  margin-top: 50px;
}
.group_list_depth01 li:hover:not(.groupListTitle) {
  background: rgba(0, 0, 0, 0.15);
}
.group_list_depth01 li:hover:not(.groupListTitle) > a {
  color: var(--accent-yellow);
}
.group_list_depth01 li.first_boder::after {
  padding-top: 1px;
  width: 60%;
  background: linear-gradient(
    270deg,
    #4e412f 0%,
    #a79263 28%,
    #605338 50%,
    #3b3123 100%
  );
}
.group_list_depth01 li.main {
  margin-left: 10px;
  margin-bottom: 4px;
}
.group_list_depth01 li.main.on {
  background: #0c271e;
  margin-bottom: 4px;
  border-radius: 4px 0 0 4px;
  padding-bottom: 4px;
}
.group_list_depth01 li.main.on > a {
  color: #d7d2b0;
}
.group_list_depth01 li.main.on .group_list_depth02 {
  background: linear-gradient(90deg, #09231b 0%, #184233 40%, #0e3025 100%);
}
.group_list_depth01 li.main.on::after {
  width: 100%;
  padding: 1px;
  background: linear-gradient(90deg, #68593f 0%, #debd7e 40%, #68593f 100%);
  border-radius: 4px 0 0 4px;
}
.group_list_depth01 > li {
  position: relative;
}
.group_list_depth01 > li > a {
  position: relative;
  width: 200px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #d7d2b0;
}

.group_list_depth01 > li.on > a::before {
  display: none;
}
.group_list_depth01 > .groupListTitle {
  position: relative;
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #f6f4f2;
  padding-left: 20px;
  margin-top: 24px;
  font-weight: 600;
}
.none2Depth > a.none {
  position: relative;
  display: block;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #a00000;
  padding-left: 44px;
}

.group_list_depth02.single li a {
  color: #d7d2b0;
  padding-left: 5px;
}
.group_list_depth02.single li a::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: url(../images/ico_arrow.svg) center no-repeat;
  background-size: 14px auto;
}
.group_list_depth02.single li.active a::before {
  background-image: url(../images/ico_arrow_on.svg);
}
.group_list_depth02.single > li.active {
  background: #0c271e;
  margin-bottom: 4px;
  border-radius: 4px 0 0 4px;
}
.group_list_depth02.single > li.active::after {
  width: 100%;
  padding: 1px;
  background: linear-gradient(90deg, #68593f 0%, #debd7e 40%, #68593f 100%);
  border-radius: 4px 0 0 4px;
}

/* 2depth - 상위 메뉴 */
.group_list_depth02 > li {
  position: relative;
}
.group_list_depth02 > li > a {
  display: block;
  text-indent: 45px;
  width: 100%;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  color: #d7d9d9;
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.group_list_depth02 > li.active > a {
  color: var(--accent-yellow);
}
.disable {
  color: gray !important;
  cursor: default;
  pointer-events: none;
}
.locationChange {
  text-indent: 22px !important;
}

/* 3depth - 하위 메뉴 */
.menu_list {
  position: relative;
  min-width: 1450px;
  width: 100%;
  min-height: 900px;
  max-height: 100%;
  display: flex;
}
.bg_img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.menu_list .inner {
  position: absolute;
  width: auto;
  height: 100%;
}
.menu_list .inner img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu_list li a {
  position: absolute;
  border-radius: 20px;
  z-index: 10;
  cursor: pointer;
}
.menu_list li a:hover {
  background: rgba(0, 76, 240, 0.119);
  transition-duration: 0.2s;
}

/* 링크 - 메인화면구성 */
.interface01 .link_homemenu {
  min-width: 82px;
  width: 4.6896%;
  min-height: 24px;
  height: 2.66666%;
  top: 8%; /* 72px */
  left: 8.8275%; /* 128px */
}
.interface01 .link_setbar {
  min-width: 198px;
  width: 13.6551%;
  min-height: 24px;
  height: 2.66666%;
  top: 94.4444%; /* 850px */
  left: 9.7241%; /* 141px */
}
.interface01 .link_cmdbar {
  min-width: 136px;
  width: 9.3793%;
  min-height: 24px;
  height: 2.66666%;
  top: 94.3333%; /* 850px */
  left: 68.6896%; /* 996px */
}
.interface01 .link_cmdall {
  min-width: 134px;
  width: 9.2413%;
  min-height: 24px;
  height: 2.66666%;
  top: 94.3333%; /* 850px */
  left: 80.5517%; /* 1168px */
}
.interface01 .link_print {
  min-width: 76px;
  min-height: 24px;
  width: 5.2413%;
  height: 2.66666%;
  top: 14.3333%; /* 129px */
  right: 19.7931%; /* 287px */
}
.interface01 .link_color {
  min-width: 118px;
  min-height: 24px;
  width: 8.1379%;
  height: 2.66666%;
  top: 39.55555%; /* 356px */
  left: 37.5862%; /* 545px */
}
.interface01 .link_line {
  min-width: 150px;
  min-height: 24px;
  width: 10.3448%;
  height: 2.66666%;
  top: 56.1111%; /* 506px */
  left: 42.7586%; /* 620px */
}
.interface01 .link_text {
  min-width: 163px;
  min-height: 24px;
  width: 11.2413%;
  height: 2.66666%;
  top: 39.7777%; /* 358px */
  left: 51.1724%; /* 742px */
}
.interface01 .link_msmt {
  min-width: 164px;
  min-height: 24px;
  width: 11.3103%;
  height: 2.66666%;
  top: 36.4444%; /* 328px */
  left: 57.1034%; /* 828px */
}
.interface01 .link_layouttab {
  min-width: 214px;
  min-height: 24px;
  width: 14.7586%;
  height: 2.66666%;
  top: 69%; /* 621px */
  right: 0.13793%; /* 2px */
}
.interface01 .link_layer {
  min-width: 136px;
  min-height: 24px;
  width: 9.3793%;
  height: 2.66666%;
  top: 39.55555%; /*356px*/
  right: 62.8965%; /*912px*/
}
.interface01 .link_filetab {
  min-width: 200px;
  width: 13.7931%;
  min-height: 24px;
  height: 2.6666%;
  top: 58.3333%; /* 525px */
  right: 85.862%; /* 1246px */
}
.interface01 .link_mainprops {
  min-width: 82;
  width: 5.6551%;
  min-height: 24px;
  height: 2.6666%;
  top: 8%; /*72px*/
  right: 4.6206%; /*67px*/
}
.interface01 .link_propsbar {
  min-width: 78px;
  width: 5.3793%;
  min-height: 24px;
  height: 2.6666%;
  top: 8.8888%; /* 80px */
  right: 19.7931%; /* 287px */
}
.interface01 .link_mainprf {
  min-width: 150px;
  width: 10.3448%;
  min-height: 24px;
  height: 2.6666%;
  top: 94.4444%; /* 850px */
  left: 33.1034%; /* 480px */
}

.interface01 .link_ggurumi {
  min-width: 76px;
  width: 5.2413%;
  min-height: 24px;
  height: 2.6666%;
  top: 19.7777%; /* 178px */
  right: 19.7241%; /* 286px  */
}

/* 링크 - 홈메뉴 */
.interface02 .link_systm {
  width: 105px;
  height: 22px;
  top: 738px;
  right: 1164px;
}

/* 링크 - 명령어아이콘바 */
.customize01 .link_cmdall {
  min-width: 136px;
  width: 9.37931%;
  min-height: 24px;
  height: 2.6666%;
  top: 12.8888%; /* 116px */
  left: 86.7586%; /* 1258px */
}
.customize01 .link_prfall {
  min-width: 150px;
  width: 10.3448%;
  min-height: 24px;
  height: 2.6666%;
  top: 6.2222%; /* 56px */
  left: 60.3448%; /* 875px */
}

/* 링크 - 명령어 전체보기 구성 */
.command01 .link_cven {
  min-width: 96px;
  width: 6.6206%;
  min-height: 24px;
  height: 2.6666%;
  top: 34.4444%; /* 310 */
  left: 1.7241%; /* 25px */
}
.command01 .link_struc {
  min-width: 96px;
  width: 6.6206%;
  min-height: 24px;
  height: 2.6666%;
  top: 48.1111%; /* 434px */
  left: 1.6551%; /* 24px */
}
.command01 .link_prf {
  width: 112px;
  height: 22px;
  top: 70px;
  left: 1311px;
}
.command01 .link_ctrl {
  width: 76px;
  height: 22px;
  top: 131px;
  left: 1348px;
}

/* 링크 - 파일탭 분리 */
.multi01 .link_props {
  min-width: 153px;
  width: 10.5517%;
  min-height: 24px;
  height: 2.6666%;
  top: 62.2222%; /* 560px */
  right: 0.8965%; /* 13px */
}

/* 링크 - 블록의 종류 */
.block01 .link_block {
  min-width: 74px;
  width: 5.1034%;
  min-height: 24px;
  height: 2.6666%;
  top: 26.8888%; /* 242px */
  right: 86.2068%; /* 1250px */
}
.block01 .link_atrbBlock {
  min-width: 88px;
  width: 6.0689%;
  min-height: 24px;
  height: 2.6666%;
  top: 57.5555%; /* 518px */
  right: 85.1724%; /* 1235px */
}
.block01 .link_ref {
  min-width: 88px;
  width: 6.0689%;
  min-height: 24px;
  height: 2.6666%;
  top: 74%; /* 666px */
  right: 85.1724%; /* 1235px */
}

/* 링크 - 블록 라이브러리 */
.block05 .link_intgBlock {
  width: 117px;
  height: 20px;
  top: 324px;
  right: 637px;
}

/* 꾸러미 - 도면탐색 및 정보열람 */
.view_floorPlan .link_multiPrint {
  min-width: 86px;
  width: 5.931%;
  min-height: 24px;
  height: 2.6666%;
  top: 17.3333%; /* 211px */
  left: 2%; /* 29px */
}
.view_floorPlan .lik_fix_floorPlan {
  min-width: 117px;
  width: 8.0689%;
  min-height: 24px;
  height: 2.6666%;
  top: 25.2222%; /* 211px */
  left: 1.5172%; /* 22px */
}
.fix_floorPlan .link_select_floorPlan {
  min-width: 141px;
  width: 9.7241%;
  min-height: 24px;
  height: 2.6666%;
  top: 23.4444%; /* 211px */
  right: 8.89655%; /* 129px */
}

/* 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 30;
}
.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 470px;
  height: 730px;
  border-radius: 8px;
}
.modal-content.visualEfct {
  width: 470px;
  height: 622px;
}
.modal-content.objectGrip {
  width: 470px;
  height: 750px;
}
.modal-content.osnap {
  width: 470px;
  height: 742px;
}
.modal-content.dynamicInput {
  width: 470px;
  height: 742px;
}
.modal-content.isoDrawing {
  width: 470px;
  height: 519px;
}
.modal-content.orthoMode {
  width: 470px;
  height: 546px;
}
.modal-content.angleSnap {
  width: 470px;
  height: 550px;
}
.modal-content.overlap {
  width: 470px;
  height: 568px;
}
.modal-content.zoomDetail {
  width: 470px;
  height: 500px;
}
.modal-content video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-content p {
  color: #666;
  font-size: 14px;
  position: absolute;
  bottom: 16px;
  left: 42px;
}

.close {
  color: #000;
  float: right;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  right: 12px;
  top: 12px;
  display: block;
  margin-left: auto;
  width: 26px;
  height: 26px;
  background: none;
  line-height: 1;
}
.close:hover,
.close:focus {
  color: #e00400;
  text-decoration: none;
  cursor: pointer;
}

/* 배경 dim 스타일 */
.dim-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.menu_list.command03 #open-modal-1 {
  position: absolute;
  min-width: 108px;
  width: 7.4482%;
  min-height: 24px;
  height: 2.6666%;
  top: 58.3333%; /* 525px */
  right: 5.3103%; /* 77px */
}
.menu_list.command03 #open-modal-2 {
  position: absolute;
  min-width: 109px;
  width: 7.5172%;
  min-height: 24px;
  height: 2.6666%;
  top: 6.7777%; /* 61px */
  right: 4.6206%; /* 67px */
}
.menu_list.customize03 #open-modal-grid {
  position: absolute;
  min-width: 74px;
  width: 5.1034%;
  min-height: 24px;
  height: 2.6666%;
  top: 17.1111%; /* 154px */
  right: 70.4827%; /* 1022px */
}
.menu_list.customize03 #open-modal-osnap {
  position: absolute;
  min-width: 94px;
  width: 6.4827%;
  min-height: 24px;
  height: 2.6666%;
  top: 88.2222%; /* 794px */
  right: 38.9655%; /* 565px */
}
.menu_list.customize03 #open-modal-dynamicInput {
  position: absolute;
  min-width: 94px;
  width: 6.4827%;
  min-height: 24px;
  height: 2.6666%;
  top: 87.8888%; /* 791px */
  right: 23.0344%; /* 334px */
}
.menu_list.customize03 #open-modal-visualEfct {
  position: absolute;
  min-width: 121px;
  width: 8.3448%;
  min-height: 24px;
  height: 2.6666%;
  top: 70.8888%; /* 638px */
  right: 3.7931%; /* 55px */
}
.menu_list.customize03 #open-modal-objectGrip {
  position: absolute;
  min-width: 121px;
  width: 8.3448%;
  min-height: 24px;
  height: 2.6666%;
  top: 17.1111%; /* 154px */
  right: 51.862%; /* 752px */
}
.menu_list.customize03 #open-modal-isoDrawing {
  position: absolute;
  min-width: 154px;
  width: 10.6206%;
  min-height: 24px;
  height: 2.6666%;
  top: 35.8888%; /* 323px */
  right: 88.9655%; /* 1290px */
}
.menu_list.customize03 #open-modal-orthoMode {
  position: absolute;
  min-width: 93px;
  width: 6.4137%;
  min-height: 24px;
  height: 2.6666%;
  top: 28.1111%; /* 253px */
  right: 5.5862%; /* 81px */
}
.menu_list.customize03 #open-modal-angleSnap {
  position: absolute;
  min-width: 105px;
  width: 7.2413%;
  min-height: 24px;
  height: 2.6666%;
  top: 53.5555%; /* 482px */
  right: 4.7586%; /* 69px */
}
.menu_list.customize03 #open-modal-overlap {
  position: absolute;
  min-width: 144px;
  width: 9.931%;
  min-height: 24px;
  height: 2.6666%;
  top: 88.2222%; /* 794px */
  right: 52.8965%; /* 767px */
}

/*
.menu_list.customize03 #open-modal-zoomDetail {
  position: absolute;
  min-width: 102px;
  width: 7.0344%;
  min-height: 24px;
  height: 2.6666%;
  top: 88.3333%; /* 795px * /
  right: 72.2068%; /* 1047px * /
}
*/
